.HomePage {
  /* background-color: aqua; */
}

.HomePage img {
  max-width: 500px;
}

.flex-containerA {
  box-sizing: border-box;

  background-color: red;

  max-width: 400px;
  margin: 0 auto;
}

.flex-containerA {
  display: flex;

  font-size: 30px;
  text-align: center;
}

.flex-containerA .flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-containerA .flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
