@import '../css/NavBar.css';
@import '../css/HeroSection.css';
@import '../css/Home.css'; /* Test */
body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* h1,
p {
  font-family: Lato;
} */

/* .navbar {
  list-style: none;
  background: #eee;
  padding: 3px;
} */

/* .navbar li {
  display: inline;
  padding: 0px;
  margin-left: 10px;
} */
/* 
.navbar li a {
  background: #000;
  padding: 2px 3px;
  color: #fff;
  text-decoration: none;
} */

.product-area-full {
  text-align: center;
}

.product-area {
  display: flex;
  flex-direction: column;
}

.product-single {
  box-shadow: 2px 6px 14px 0px #99343442;
  padding: 5px;
  margin: 0 auto;

  flex-grow: 1;
  width: 90%;
}

.product-button a {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 20px;
}

.NutritionFacts {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.individual-item-display {
  text-align: center;
  margin-bottom: 100px;
  border-style: double;
  padding-bottom: 20px;
}
