@import '../css/NavBar.css';
@import '../css/HeroSection.css';
@import '../css/Home.css';
@import '../css/Footer.css';
@import '../css/Contact.css';
@import '../css/ContactForm.css';
/* Test */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

p {
  margin-top: 15px;
}

.btn {
  margin-top: 20px;
}

.product-area-full {
  text-align: center;
  margin-top: 200px;
}

.product-area-full .Catagory-title {
  font-size: 68px;
}

.product-area {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.product-single {
  box-shadow: 2px 6px 14px 0px #00000042;
  padding: 25px;
  margin: 10px auto;

  flex-grow: 1;
  width: 90%;
}

.product-button a {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  text-decoration: none;
  padding: 4px 20px;
}

.NutritionFacts {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.individual-item-display {
  text-align: center;
  margin: 50px 50px;
}

.individual-item-display img {
  max-width: 250px;
}

.titleSingleItems {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  max-width: 500px;
  margin: 0 auto;
  padding: 4px 20px;
}

.SingleItemsIngredients {
  background-color: rgb(195, 187, 187);
  max-width: 200px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 4px 20px;
}
